<!-- start page title -->
<app-pagetitle title="Basic Tables" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h4 class="card-title">Vertical Clignment</h4>
                    <p class="card-title-desc">Table cells in <code>&lt;tbody&gt;</code> inherit their alignment from
                        <code>&lt;table&gt;</code> and are aligned to the the top by default. Use the vertical align
                        classes to re-align where needed.
                    </p>
                    <div class="table-responsive">

                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>CATEGORIA</th>
                                <th>CODEQR</th>
                                <th>DELETED</th>
                                <th>ESTADO</th>
                                <th>FOTO</th>
                                <th>ID</th>
                                <th>INDICATIVO</th>
                                <th>INICIO</th>
                                <th>LOCATION</th>
                                <th>NOMBRE</th>
                                <th>NOTAS</th>
                                <th>TERMINO</th>
                                <th>ACTION</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let account of dataAccount">
                                <td>{{ account.idu }}</td>
                                <td>{{ account.nombre }}</td>
                                <td>{{ account.apellido }}</td>
                                <td>{{ account.categoria }}</td>
                                <td>{{ account.codeqr }}</td>
                                <td>{{ account.deleted }}</td>
                                <td>{{ account.estado }}</td>
                                <td>{{ account.foto }}</td>
                                <td>{{ account.id }}</td>
                                <td>{{ account.indicativo }}</td>
                                <td>{{ account.inicio }}</td>
                                <td>{{ account.locacion }}</td>
                                <td>{{ account.nombre }}</td>
                                <td>{{ account.notas }}</td>
                                <td>{{ account.termino }}</td>
                                <td>ELIMINAR</td>
                              </tr>
                            </tbody>
                          </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->